#*
 *
 *     Copyright 2013 KU Leuven Research and Development - iMinds - Distrinet
 *
 *     Licensed under the Apache License, Version 2.0 (the "License");
 *     you may not use this file except in compliance with the License.
 *     You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *     Unless required by applicable law or agreed to in writing, software
 *     distributed under the License is distributed on an "AS IS" BASIS,
 *     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *     See the License for the specific language governing permissions and
 *     limitations under the License.
 *
 *     Administrative Contact: dnet-project-office@cs.kuleuven.be
 *     Technical Contact: bart.vanbrabant@cs.kuleuven.be
 *#
\documentclass[DIN, pagenumber=false, parskip=half,
               fromalign=right,
               fromrule=false]{scrlttr2}
 
\usepackage[english]{babel}
\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}
\usepackage{textcomp}
\usepackage{longtable}
\usepackage{eurosym}

%\LoadLetterOption{template}

\newcommand{\stdlohn}[0]{11 \euro}

\renewcommand*{\raggedsignature}{\raggedright} 

\setkomavar{fromname}{Fake Invoices inc.}
\setkomavar{fromphone}{+32 12 34 56 78}
\setkomavar{fromaddress}{Lappenweg 10, 4321 Lessurb}
\setkomavar{frombank}{Pickpocket Bank\\ Account number: 123 456 000}

\setkomavar{subject}[]{Monthly invoice}
\setkomavar{date}[Datum]{15. Januar 2011}

\begin{document}

 
%===================================
% receiver
\begin{letter}{
$firstname $lastname
$email
}

\opening{\ }
\vspace{-1.5cm}
Amount due: $amount euro

\end{letter}
\end{document}
